<div>
    <h2>Contact Us</h2>
    <p>
        If someone was searching your site and wanted to get ahold of you, what would they see on your 
        contact us page? A phone number? An address and map? Nothing? Marketers often spend so much time
        focusing on the design and content of the homepage and service page that they neglect the contact
        page. However, your contact page should be one of your most important pages.Think about it. If 
        someone clicked on your contact us page, then they are obviously interested in speaking with you!
        Therefore, your contact us page should be more than just a number and a generic email address.
    </p>
</div>

