<div>
    <h2>Provide Your Feedback</h2>
    <p>
        Are your blog posts working well, or leaving readers unsatisfied? Is your About page enticing, 
        or confusing? Does your Hire Me page do a great job of selling your services, or is it too bland?
        Often, the only feedback that you have comes in the form of numbers. Maybe readers aren’t 
        spending long on your blog. Maybe you rarely get comments. Maybe no one’s ever hired you.
        The problem is, it’s hard to tell why. Without any feedback from readers, you don’t know what you’re
        doing wrong.Honest, constructive feedback isn’t the same as a comment saying “great post!”<br> 
        Good feedback:
    </p>
        <ul>
            <li>tells you exactly what’s working, and what isn’t.</li>
            <li>offers suggestions on how to fix any problems.</li>
            <li>encourages you to make the most of your strengths.</li>
        </ul>
</div>

