<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Phase2FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainerController</display-name>
    <servlet-name>TrainerController</servlet-name>
    <servlet-class>com.controller.TrainerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerController</servlet-name>
    <url-pattern>/TrainerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassController</display-name>
    <servlet-name>ClassController</servlet-name>
    <servlet-class>com.controller.ClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassController</servlet-name>
    <url-pattern>/ClassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectController</display-name>
    <servlet-name>SubjectController</servlet-name>
    <servlet-class>com.controller.SubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectController</servlet-name>
    <url-pattern>/SubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTrainerToStudentController</display-name>
    <servlet-name>AssignTrainerToStudentController</servlet-name>
    <servlet-class>com.controller.AssignTrainerToStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTrainerToStudentController</servlet-name>
    <url-pattern>/AssignTrainerToStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTrainerToSubject</display-name>
    <servlet-name>AssignTrainerToSubject</servlet-name>
    <servlet-class>com.controller.AssignTrainerToSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTrainerToSubject</servlet-name>
    <url-pattern>/AssignTrainerToSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTrainerToSubjectController</display-name>
    <servlet-name>AssignTrainerToSubjectController</servlet-name>
    <servlet-class>com.controller.AssignTrainerToSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTrainerToSubjectController</servlet-name>
    <url-pattern>/AssignTrainerToSubjectController</url-pattern>
  </servlet-mapping>
</web-app>